---
// Import necessary components
import { Image } from "astro:assets";

const { author } = Astro.props;

interface Props {
  author: any;
}
---

<div class="flex-shrink-0">
  <Image
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src={author.avatar_urls["96"]}
    inferSize={true}
    alt={author.name}
    draggable={"false"}
    format={"avif"}
  />
</div>
