---
import BrandLogo from '@/components/BrandLogo.astro';
---

<div
  class="mx-auto flex min-h-[calc(100vh-427px)] max-w-[85rem] items-center justify-center px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <div class="from-purple-500 flex w-full flex-col items-center justify-center">
    <div
      class="w-full rounded-xl bg-neutral-100 p-8 text-center shadow-lg dark:bg-[#171717]"
    >
      <div class="mb-6 flex items-center justify-center">
        <BrandLogo class="h-auto w-44" />
      </div>
      <h2
        class="mb-4 font-inter text-5xl font-medium text-neutral-700 dark:text-neutral-600"
      >
        Coming Soon
      </h2>
      <p class="mb-6 font-inter text-lg text-neutral-400 dark:text-neutral-500">
        We're working hard to bring something amazing to you. Stay tuned!
      </p>
      <!-- <div>
          <button
            class="hover:bg-purple-600 rounded-lg bg-yellow-500 px-4 py-2 text-white shadow-lg transition duration-300"
          >
            Notify Me
          </button>
        </div> -->
    </div>
  </div>
</div>
