---
import Icon from "@/components/Icon.astro";
import IconWrapper from "@/components/IconWrapper.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type {
  Icon as IconType,
  ServicesData,
} from "@/config/landing.interface";

interface Props {
  data: ServicesData;
}

const { data } = Astro.props;
---

<section
  id="services-section"
  class="flex flex-col mb-6 md:mb-60 gap-y-6 sm:gap-y-8 md:gap-y-20"
>
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div class="grid md:grid-cols-2 gap-y-3 sm:gap-y-10 justify-items-center">
    {
      data.services.map((service) => (
        <article class="flex gap-x-6 xl:gap-x-12 xl:w-[550px] mx-2">
          <div>
            <IconWrapper>
              <Icon icon={service.icon as IconType} />
            </IconWrapper>
          </div>
          <section>
            <h3 class="text-lg font-bold md:text-2xl xl:text-4xl md:mb-3 mb-1 sm:mb-2">
              {service.title}
            </h3>
            <p class="text-pretty text-sm opacity-90 md:text-base xl:text-lg">
              {service.description}
            </p>
          </section>
        </article>
      ))
    }
  </div>
</section>
