p {
  margin: 0px !important;
padding: 0 !important;
}

ul,
ul li,
ol,
ol li  {
  margin: 0 !important;
}

.blog-wrapper {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

  .blog-wrapper p {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  
  .blog-wrapper h1,h2,h3,h4,h5,h6 {
    font-family: 'Cardo', serif;
    font-weight: 400;
    margin: 20px 0px !important;

  }
  .blog-wrapper h1 > b,
  .blog-wrapper h2 > b,
  .blog-wrapper h3 > b,
  .blog-wrapper h4 > b,
  .blog-wrapper h5 > b,
  .blog-wrapper h6 > b,
  .blog-wrapper h1 > strong,
  .blog-wrapper h2 > strong,
  .blog-wrapper h3 > strong,
  .blog-wrapper h4 > strong,
  .blog-wrapper h5 > strong,
  .blog-wrapper h6 > strong
  {
      font-weight: 400;
  }
  .blog-wrapper h1
  .blog-wrapper h2,
  .blog-wrapper h3,  .blog-wrapper h4,  .blog-wrapper h5,  .blog-wrapper h6  {
    font-size: 2rem;
  }
  
  .blog-wrapper h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
  }

  .blog-wrapper h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  .blog-wrapper a {
    color: #1972F5; 
    position: relative;
    margin-left: 30px;
  }

  .blog-wrapper a::before {
    content: " →";
    font-weight: bold;
    margin-left: -10px;
    position: absolute;
    top: -9px;
    left: -22px;
    font-size: 30px;
    cursor:text;
  }

  /* Additional styles for other elements */
  .blog-wrapper ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .blog-wrapper ul li {
    padding: 0.5rem 0;
  }
  .blog-wrapper p > b {
    margin-top: 20px !important; 
  }

  .blog-wrapper li,
  .blog-wrapper li > span,
  .blog-wrapper li > p
   {
    font-weight: bold !important;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }